section {
    position: relative;
    width: 100%;
    top: 150px;
    min-height: 600px;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

.login_container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #343a40;
}

.logo_white {
    cursor: pointer;
    padding-left: 5px;
    z-index: 0;
    border: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login_form {
    border: 1px solid #e9ecef;
    padding: 10px;
    margin-top: -130px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #ffd700, #ffa500); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
    max-width: 400px; 
}

.login_form h2 {
    font-weight: bold;
    font-size: 28px;
    margin: 10px 0;
    text-align: center;
    color: #343a40;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.login_form label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
    color: #495057;
    text-transform: uppercase;
}

.login_form input {
    width: 90%; 
    height: 27px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    margin-top: 1px;
    padding: 5px; 
    transition: all 0.3s ease;
}

.login_form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    outline: none;
}

.login_form .password_input {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.login_form .password_input input[type="checkbox"] {
    width: 20px;
}

.login_form .password_input label {
    font-size: 13px;
    margin-top: 5px;
}

.login_form .login_info {
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.login_form .login_info p {
    font-size: 13px;
    font-weight: 600;
    color: #222;
}

.login_form .login_info a {
    font-size: 13px;
    letter-spacing: .5px;
    margin-left: 5px;
    color: #0066c0;
    text-decoration: none;
    font-weight: 600;
}

.register_info p {
    font-size: 12px;
    text-align: center;
    color: #767676;
    margin-top: 20px;
    font-weight: 600;
}

.register_info button {
    background: linear-gradient(to bottom, #f7f8fa, #b0b0b4);
    color: black;
    height: 45px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #adb1b8;
    outline: none;
    margin-top: 0px;
}

.register_info a {
    text-decoration: none;
    color: #111;
    padding: 10px 35px;
    letter-spacing: .5px;
}

button {
    width: 350px;
    margin-left: 30px;
    background: #343a40; 
    color: #ffd700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    align-items: center;
  }
  
  button:hover {
    background: #ffd700; 
    color: #343a40;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  .loginbutton{
    display: flex;
    align-items: center;
    width: 100%;
  }

@media (max-width: 768px) {
    .login_form {
        padding: 20px;
    }

    .login_form .password_input {
        flex-direction: column;
        align-items: flex-start;
    }
}
