.order-details-container {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.order-details-container:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.order-details-container h2 {
    font-size: 30px;
    color: #222;
    text-align: center;
    border-bottom: 3px solid #ddd;
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.order-details-container p {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.order-details-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.order-details-container ul li {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.order-details-container ul li:last-child {
    border-bottom: none;
}

.order-details-container .item-details {
    display: flex;
    align-items: center;
}

.order-details-container .item-details img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.order-details-container .item-details img:hover {
    transform: scale(1.1);
}



@media (max-width: 1024px) {
    .order-details-container ul li {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

}

@media (max-width: 768px) {
    .order-details-container {
        padding: 25px;
    }

    .order-details-container ul li {
        padding: 15px;
    }
}

@media (max-width: 375px) {
    .order-details-container {
        padding: 20px;
    }


    .order-details-container ul li {
        padding: 10px;
    }
}
